
<main class="main">
  <ng-container>
    <app-table [data]="crediturList" [tableName]="'List Creditur Pengajuan'"></app-table>
    <app-table [data]="approvedCrediturList" [tableName]="'List Creditur Disetujui'"></app-table>
    <app-form (dataSubmitted)="onDataSubmit($event)"></app-form>
  </ng-container>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
